.header {
  @include grid-row();
  padding: rem-calc(20);


.logo {
      @include breakpoint(small) {
        @include grid-column(12);
        text-align: center;
      }

      @include breakpoint(medium) {
        @include grid-column(2);
        text-align: left;
      }
}


.menu {
      @include breakpoint(small) {
        @include grid-column(12);
        padding: rem-calc(30);
        font-size: rem-calc(18);
        }

      @include breakpoint(medium) {
        @include grid-column(10);
        padding: rem-calc(30);
        font-size: rem-calc(20);
      }
    }
}


.headline-promo {
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
  @include grid-row();

  .headline-element {

    @include grid-column(12);
    position: relative;
    margin-bottom: rem-calc(20);

      img {
        min-height: rem-calc(300);
        object-fit: cover;
      }

          .image-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding-left: rem-calc(40);
          padding-bottom: rem-calc(20);

              h2 {
                color: #fff;
                //  text-shadow: 0 1px 1px #fff;
                @include breakpoint(small) { font-size: rem-calc(16); }
                @include breakpoint(medium) { font-size: rem-calc(28); }
                @include breakpoint(large) { font-size: rem-calc(32); }
                  span.highlight {
                    background-color: #2C3E50;
                      }
              }

              h3 {
                color: #fff;
                font-size: rem-calc(18);


              }

          }

    }
}



.section-promo {
  @include grid-row();

  .section-element {

      @include grid-column(12);
      position: relative;
      margin-bottom: rem-calc(20);


      @include breakpoint(medium) {
      @include grid-column(6);
      position: relative;
      margin-bottom: rem-calc(20);
    }


          .image-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-left: rem-calc(40);
            padding-bottom: rem-calc(20);

                  h3 {
                    color: #fff;
                    @include breakpoint(small) { font-size: rem-calc(16); }
                    @include breakpoint(medium) { font-size: rem-calc(20); }
                    @include breakpoint(large) { font-size: rem-calc(24); }
                                      }

                  h4 {
                  color: #fff;
                  font-size: rem-calc(18);
                }
            }
    }
}


.footer {
  @include grid-row();
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);


      .footer-contact-element {

          @include breakpoint(small) {
          @include grid-column(12);
          margin-bottom: rem-calc(20);
              h4 {
                color: #333;
                font-size: rem-calc(18);
              }
          }

          @include breakpoint(medium) {
          @include grid-column(8);
          margin-bottom: rem-calc(20);
              h4 {
                color: #333;
                font-size: rem-calc(18);
              }

          }


    }

    .footer-social-element {

      text-align: right;

          @include breakpoint(small) {
          @include grid-column(12);
          margin-bottom: rem-calc(16);
          }

          @include breakpoint(medium) {
          @include grid-column(4);
          margin-bottom: rem-calc(18);
          }


    }



}
