<!-- Start Footer -->
<div class="footer">
      <div class="footer-contact-element">
          <h4>Pål Eirik Paulsen +47 4667 9019<br/><a href="mailto:ppaulsen@interfazer.com">ppaulsen@interfazer.com</a></h4>
      </div>

      <div class="footer-social-element">
          <a href="https://twitter.com/paalpaulsen" target="_blank"><img src="../assets/img/twitter-30x30px.png" alt="Twitter logo" class="fade"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://no.linkedin.com/in/paalpaulsen" target="_blank"><img src="../assets/img/linkedin-30x30px.png" alt="Linkedin logo" class="fade"></a>
      </div>

</div>
<!-- End Footer -->
